# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# -------------------------
# Node dependencies
# -------------------------
node_modules/
package-lock.json
yarn.lock

# -------------------------
# Expo / React Native
# -------------------------
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Generated native folders
ios/
android/

# -------------------------
# Native / Keys / Certificates
# -------------------------
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/
*.orig.*

# -------------------------
# Metro / Build cache
# -------------------------
.metro-health-check*
*.tsbuildinfo

# -------------------------
# Debug logs
# -------------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# -------------------------
# macOS / system files
# -------------------------
.DS_Store
*.pem

# -------------------------
# Local environment
# -------------------------
.env
.env.*.local

# -------------------------
# Example / sample files
# -------------------------
app-example
